.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: baseline;
}

@media (max-width: 831px) {
  .profile__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .profile__container {
    align-items: flex-start;
    margin-top: 20px;
  }
}