.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 36px 40px 36px;
}

@media (max-width: 400px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 32px 20px 25px 20px;
  }
}