.popup__button-save_type_disabled {
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: default;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.popup__button-save_type_disabled:hover {
  cursor: not-allowed;
  background-color: #ffffff;
}
