@import url(./__container/profile__container.css);
@import url(./__img/profile__img.css);
@import url(__img-hover/profile__img-hover.css);
@import url(./__title/profile__title.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 31%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 52px;
  position: relative;
}

@media (max-width: 1000px) {
  .profile {
    width: calc(100% - 13%);
  }
}

@media (max-width: 831px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    padding-bottom: 33px;
  }
}