.popup__button-registration_type_disabled {
  background-color: #ffffff;
  color: black;
  cursor: default;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.popup__button-registration_type_disabled:hover {
  cursor: not-allowed;
  background-color: #ffffff;
}
