@import url(./__content/footer__content.css);

.footer {
  font-family: "Inter", Arial, sans-serif;
  width: calc(100% - 31%);
  grid-area: footer;
}

@media (max-width: 1000px) {
  .footer {
    width: calc(100% - 13%);
  }
}
