@import url(./__card/card-list__card.css);

.card-list {
  font-family: "Inter", Arial, sans-serif;
  width: calc(100% - 30%);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 19px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 450px) {
  .card-list {
    grid-row-gap: 19px;
  }
}