.popup__container_type_avatar {
  height: 300px;
}

@media (max-width: 440px) {
  .popup__container_type_avatar {
    height: 272px;
  }
}

@media (max-width: 400px) {
  .popup__container_type_avatar {
    height: 230px;
  }
}
